
// Body
$body-bg: #f8fafc;

// Typography
$font-family-base: 'SegoeUI';
$font-size-base: 14px;
$line-height-base: 1.4;
$box-shadow-base: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.2);

$transition-base: 0.5s;

// Header

$header-padding: 0 50px;
$header-width: 100%;
$header-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);

$header-loc-width: 350px;
$header-loc-font-size: 16px;
$header-loc-icon-margin: 0 10px 0 0;
$header-loc-color: #CDC7C7;
$header-loc-color-hover: #2d81ff;
$header-loc-color-active: #84B5FF;

$header-control-width: 1fr;
$header-control-category-width: 250px;
$header-control-category-font-size: 12px;

$header-control-filter-width: max-content;

$header-control-main-filter-width: max-content;

$header-profile-width: 150px;


// old
$header-location-min: 200px;
$header-search-min: 500px;
$header-user-min: 200px;

$user-profile-width: 50px;
$user-profile-height: 50px;
$user-profile-border-radius: 2em;
$user-profile-background-image: url('../img/profile/header.jpg');
$user-profile-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);
$user-profile-box-shadow-hover: 0px 3px 6px -1px rgba(0, 0, 0, 0.7);

$header-color-active: #84B5FF;
$header-color-active-hover: #2d81ff;

// Colors
$blue: #84B5FF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #CDC7C7;
$gray-light: #F6F7FA;
$black: #282828;