// mixins
@import "_mixin/mixins";

// fonts
@import 'fonts';

// variables
@import 'variables';

// normilize
@import '~normalize-scss/sass/normalize';

//swiper
@import '~swiper/dist/css/swiper.css';

// select
//@import '~vue-multiselect/dist/vue-multiselect.min.css';

// font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Sections
@import "sections/header";
@import "sections/filters";
@import "sections/map";
@import "sections/content";
@import "sections/catalog";
@import "sections/footer";


// all main style

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	position: relative;

	.body{
		display: grid;
		grid-template-areas: 'header header' 'filters filters' 'map map' 'catalog content' 'footer footer';
		grid-template-columns: 280px 1fr;
		grid-template-rows: 40px 40px 1fr 30px;
		overflow: hidden;
		height: 100vh;
		width: 100%;

		@include b(979){
			grid-template-rows: 80px max-content 1fr 350px;
		}

		@include b(450){
			grid-template-rows: 70px 1fr 200px;
		}

	}
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background:#E82A55;
}

::-webkit-scrollbar-thumb {
	background: #F0074C;
}

::-webkit-scrollbar-thumb:hover {
	background: #E82A55;
}

::selection {
	background-color: #E82A55;
	color: #fff;
}

p,
span,
i,
a {
	transition: $transition-base;
}

.hidden {
	display: none;
}

.slide-comment-error-enter-active {
	transition: all .5s ease;
}
.slide-comment-error-leave-active {
	transition: all .5s ease;
}
.slide-comment-error-enter,
.slide-comment-error-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
	transform: translateY(-50px);
	//opacity: 0;
}


.slide-fade-enter-active {
	transition: all .5s ease;
}
.slide-fade-leave-active {
	transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
	transform: translateY(-50px);
	//opacity: 0;
}


.slide-content-fade-enter-active {
	transition: all .5s ease;
}
.slide-content-fade-leave-active {
	transition: all .5s ease;
}
.slide-content-fade-enter, .slide-content-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
	transform: translateY(1000px);
	//opacity: 0;
}

.slide-comments-fade-enter-active {
	transition: all .5s ease;
}
.slide-comments-fade-leave-active {
	transition: all .5s ease;
}
.slide-comments-fade-enter, .slide-comments-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
	transform: translateX(600px);
	//opacity: 0;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}