<template>
  <div class="select_category" :class="{ sel_cat_active: isActive }">
    <div class="select_category_main">
      <div class="select_category_text">
        <span class="select_category_text_title">{{ category_text }}</span>
        <input
          ref="search"
          autofocus
          v-model="search"
          class="select_category_find"
          placeholder="Выберите категорию"
        >
      </div>
      <div class="select_category_toggle" @click="toggleList">
        <span class="select_category_toggle_list">{{ toggleIcon }}</span>
      </div>
    </div>
    <div class="select_category_list">
      <ul>
        <categoryitem
          v-for="(selectitem, i) in categoryitems"
          :key="selectitem.id"
          :selectitem="selectitem"
          :index="(i+1)"
        ></categoryitem>
      </ul>
    </div>
  </div>
</template>

<script>

import service from "./../service.js";

import categoryitem from "./Select_Components/CategoryListItem.vue";

export default {
  props: ['categoryitems'],
  data() {
    return {
      search: "",
      toggleIcon: "+",
      isActive: false,
      category_text: "Выберите категорию"
    };
  },
  components: {
    categoryitem
  },
  created() {

    // слушаем метод viewSelectItem
    // устанавливаем выбранную категорию вместо "Выберите категорию"

    service.$on("viewSelectItem", selectedcategory => {
     // this.categoryitems = selectedcategory;
      this.category_text = selectedcategory.title;
      this.toggleList();
    });

  },
  computed: {
    // фильтруем категории
    filteredList() {
      return this.categoryitems.filter(categoryitem => {
        return categoryitem.title
          .toLowerCase()
          .includes(this.search.toLowerCase());
      });
    }
  },
  methods: {
    // раскрываем категории
    toggleList() {
      this.isActive = !this.isActive;
      this.search = "";
      if (this.isActive) {
        this.toggleIcon = "-";
        this.$refs.search.focus();
      } else this.toggleIcon = "+";
    }

  }

};
</script>

<style lang="scss" scoped>

  .sel_cat_active {
    .select_category_main {
      .select_category_text {
        .select_category_text_title {
          display: none;
        }

        .select_category_find {
          display: block;
        }
      }

      .select_category_toggle {
        width: 25px;
        position: relative;
      }
    }

    .select_category_list {
      display: block;
    }
  }

.select_category {
  &_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;

    &:hover {
      .select_category_toggle_list {
        box-shadow: 0px 0px 0px 1px #dadada;
        background-color: #d0d0d0;
        color: white;
      }
    }

    .select_category_text {
      font-size: 12px;
      width: 100%;

      &_title {
        letter-spacing: 1px;
      }

      .select_category_find {
        display: none;
        outline: none;
        border: none;
        width: 95%;
        padding: 5px 0;
        letter-spacing: 1px;
        font-family: 'SegoeUI';
      }
    }

    .select_category_toggle {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      transition: 0.3s;
      width: 100%;
      justify-content: flex-end;
      position: absolute;

      &:hover {
        cursor: pointer;
      }

      &_list {
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 25px;
        width: 25px;
        border-radius: 2px;

        &:hover {
          box-shadow: 0px 0px 0px 1px #dadada;
          background-color: #d0d0d0;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  &_list {
    display: none;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    font-size: 12px;

    &:hover {
      .select_category {
        .select_category_toggle_list {
          box-shadow: 0px 0px 0px 1px #dadada;
          background-color: #d0d0d0;
          color: white;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 300px;
      overflow: hidden;
      overflow-y: scroll;

      li {
        padding: 10px;
        margin: 2px 0;
        border-radius: 2px;
        transition: background 0.4s;

        &:hover {
          background: #d0d0d0;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
