<template>
    <cataloglist></cataloglist>
</template>

<script>
import cataloglist from "./catalog/CatalogList";

export default {
  data() {
    return {}
  },
  components: {
    cataloglist
  }
};
</script>