<template>
  <div class="lm_content">

    <span @click="clBtnHide" class="btn-hide-content">-</span>

    <div class="lm_content_left">

      <div class="lm_content_left_top">

        <div class="lm_master_block_icons">
          <div class="lm_master_block_icons_info">
            <i class="fas fa-star"></i>
            <i class="fas fa-exclamation-triangle"></i>
          </div>
          <div class="lm_master_block_icons_status">
            <span>27 works complete</span>
          </div>
          <div class="lm_master_block_icons_use">
            <i @click="clBtnComments(true)" class="fas fa-comments"></i>
          </div>
        </div>

        <div class="lm_master_block">

          <div class="lm_master_block_body">
            <span class="lm_master_block_raiting" :style="{ 'border-color': setRaitings(catalogitm.raiting) }"></span>
            <div class="lm_master_block_master">
              <img src='https://placehold.it/50x50' alt=''/>
              <div class="lm_master_block_master_info">
                <span class="lm_master_block_name">
                  {{ masterName }} {{ masterSurname }}
                </span>
                <span class="lm_master_block_since">
                  в сервисе с 28.01.19
                </span>
              </div>
            </div>
            <div class="lm_content_price_value">
              <span class="lm_content_price">1500 <i class="fas fa-ruble-sign"></i></span>
            </div>
          </div>
        </div>

      </div>

      <div class="lm_content_slider">
        <div class="lm_content_slider_main">
          <img src='https://placehold.it/350x500' alt=''/>
        </div>
        <div class="lm_content_slider_thumbs">
          <div class="lm_content_slider_thumbs_item">
            <img src='https://dummyimage.com/100x100.png' alt=''/>
          </div>
          <div class="lm_content_slider_thumbs_item">
            <img src='https://dummyimage.com/100x100.png' alt=''/>
          </div>
          <div class="lm_content_slider_thumbs_item">
            <img src='https://dummyimage.com/100x100.png' alt=''/>
          </div>
          <div class="lm_content_slider_thumbs_item">
            <img src='https://dummyimage.com/100x100.png' alt=''/>
          </div>
          <div class="lm_content_slider_thumbs_item">
            <img src='https://dummyimage.com/100x100.png' alt=''/>
          </div>
          <div class="lm_content_slider_thumbs_item">
            <img src='https://dummyimage.com/100x100.png' alt=''/>
          </div>
        </div>
      </div>

      <div class="lm_content_instagram">
        <div class="lm_content_instagram_title">
          <span class="lm_content_instagram_title_text">
            Instagram работы
          </span>
        </div>
        <div class="swiper-instagram">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src='https://placehold.it/130x180' alt=''/>
            </div>
            <div class="swiper-slide">
              <img src='https://placehold.it/130x180' alt=''/>
            </div>
            <div class="swiper-slide">
              <img src='https://placehold.it/130x180' alt=''/>
            </div>
            <div class="swiper-slide">
              <img src='https://placehold.it/130x180' alt=''/>
            </div>
            <div class="swiper-slide">
              <img src='https://placehold.it/130x180' alt=''/>
            </div>
            <div class="swiper-slide">
              <img src='https://placehold.it/130x180' alt=''/>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="lm_content_right">

      <div class="lm_content_info_block">
        <div class="lm_content_header">
          <i>some information</i>
        </div>
        <div class="lm_content_body">
          <div class="lm_content_prop">
            <span class="lm_content_prop_title">
              Обработка
            </span>
            <div class="lm_content_prop_info">
              аппаратная, обрезная, классическая, комбинированная
            </div>
          </div>
          <div class="lm_content_prop">
            <span class="lm_content_prop_title">
              Обработка
            </span>
            <div class="lm_content_prop_info">
              аппаратная, обрезная, классическая, комбинированная
            </div>
          </div>
          <div class="lm_content_prop">
            <span class="lm_content_prop_title">
              Обработка
            </span>
            <div class="lm_content_prop_info">
              аппаратная, обрезная, классическая, комбинированная
            </div>
          </div>

          <div class="lm_content_props">

            <div class="lm_content_prop">
              <span class="lm_content_prop_title">
                Снятие старого покрытия
              </span>
              <div class="lm_content_prop_info">
                есть
              </div>
            </div>

            <div class="lm_content_prop">
              <span class="lm_content_prop_title">
                Ремонт ногтей
              </span>
              <div class="lm_content_prop_info">
                есть
              </div>
            </div>

            <div class="lm_content_prop">
              <span class="lm_content_prop_title">
                Ремонт ногтей
              </span>
              <div class="lm_content_prop_info">
                есть
              </div>
            </div>

            <div class="lm_content_prop">
              <span class="lm_content_prop_title">
                Парафинотерапия
              </span>
              <div class="lm_content_prop_info">
                есть
              </div>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem vero provident officiis exercitationem iste nihil distinctio laborum cumque minima necessitatibus similique quo ipsa veniam, repellendus dicta? Numquam, totam error.
          </p>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import service from "./../service.js";

export default {
  data() {
    return {
      catalogitm: {},
      masterName: null,
      masterSurname: null,
    }
  },
  created() {
    service.$on("viewItem", slcatalogitem => {
      this.catalogitm = slcatalogitem;
      this.masterName = this.catalogitm.users.name;
      this.masterSurname = this.catalogitm.users.surmane;
      service.comment_items = this.catalogitm.comments;
      console.log('service');
      console.log(service.comment_items);
    });

  },
  methods: {
    clBtnHide() {
      service.clBtnHide(false);
    },
    clBtnComments(status) {
      service.clBtnComments(status);
    },
    setRaitings(raiting){
      let raitingStyle =  'hsla('+raiting+', 90%, 50%, 1)';
      return raitingStyle;
    }
  }
};
</script>

<style lang="scss" scoped>

.swiper-instagram {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding-right: 10px;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 1px 3px 6px -1px #0000005c;
      //margin-bottom: 10px;
      img{
        width: 100%;
      }
    }


  .btn-hide-content {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    right: 0px;
    top: 0px;
    color: gray;
    border-radius: 0px 5px 0px 15px;

    &:hover {
      color: black;
      cursor: pointer;
      background: lightgray;
    }
  }

</style>
