<template>

  <div class="filters-wrap">

    <div class="main-filters">
      <selectfilter
        v-for="(selectItems, i) in category_filters_1"
        :key="selectItems.id_sub_categories"
        :selectItems="selectItems"
        :index="(i+1)"
        :filterId="selectItems.id_sub_categories"
        v-on:setselectfilter="SetSelectFilter($event)"
      ></selectfilter>
    </div>

    <div class="more-filters">
      <checkboxfilter
        v-for="(selectItems, i) in category_filters_2"
        :key="selectItems.id_sub_categories"
        :checkboxItems="selectItems"
        :index="(i+1)"
        v-on:setselectfilter="SetSelectFilter($event)"
      ></checkboxfilter>
      {{modelAttribute}}
    </div>

  </div>

</template>
<script>

import service from "./../service.js";
import selectfilter from "./filters/FiltersSelect.vue";
import checkboxfilter from "./filters/FiltersCheckbox.vue";

export default {
  data() {
    return {
      category_filters: {},
      category_filters_1: {},
      category_filters_2: {},
      modelAttribute: []
    };
  },
  components:{
    selectfilter,
    checkboxfilter
  },
  created() {

    service.$on("viewFilters", filtarget => {
      this.category_filters = filtarget;
      this.modelAttribute = [];
      this.filteredList('dropdown');
      this.filteredList('checkbox');
    });

    service.$on("viewFilterItemClicked", selectedcategory => {
      this.category_text = selectedcategory.title;
      this.toggleList();
    });

  },
  methods: {

    SetSelectFilter(filterOptions) {

    let statusFilter = _.filter(this.modelAttribute, function (item) {
        return item.id === filterOptions.filterId;
    })

    if(statusFilter !=0) this.modelAttribute.find(modelAttribute => modelAttribute.id ===filterOptions.filterId).filter = filterOptions.filterItemId;
    else this.modelAttribute.push({ id: filterOptions.filterId, filter: filterOptions.filterItemId });

    //let modelAttributeFilter = [];
    service.selected_FiltersId = [];

    _.each(this.modelAttribute, function (item) {
      //modelAttributeFilter.push(item.filter);
      service.selected_FiltersId.push(item.filter);
    })

    //service.selected_FiltersId.push(modelAttributeFilter);

    console.log(service.selected_FiltersId);

    service.viewCatalogFilters();

    },

    toggleList() {
      this.isActive = !this.isActive;
      this.search = "";
      if (this.isActive) {
        this.toggleIcon = "-";
        this.$refs.search.focus();
      } else this.toggleIcon = "+";
    },
    filteredList(filter_type) {
      if(filter_type == 'dropdown'){
        this.category_filters_1 = this.category_filters.filter(filterItem => {
          return filterItem.type.toLowerCase().includes(filter_type);
        });
      }
      if(filter_type == 'checkbox') {
        this.category_filters_2= this.category_filters.filter(filterItem => {
          return filterItem.type.toLowerCase().includes(filter_type);
        });
      }
    },
  }
};
</script>

<style lang="scss" scoped>

  .checkbox{
    &:nth-child(odd) {
        grid-row: 1;
    }
    &:nth-child(even) {
        grid-row: 2;
    }
  }

</style>

