<template>
  <div class="header-wrap">
    <div class="lm_loc">
      <i @click="autoDetectLocation()" class="lm_loc_icon fa fa-location-arrow"></i>
      <span v-show="!locationEdit"
        id="SearchCoordinatesOfAddress"
        class="lm_loc_address"
        @click="set_location"
      >{{location_adress}}</span>
      <input v-show="locationEdit" v-model="set_location_by" @keypress.13.prevent="SetLocation" type="text" class="lm_loc_inputAdress">
    </div>

    <div class="lm_control">

      <catalogselect
        :categoryitems="categorys"
      ></catalogselect>

      <span @click="clBtnFilter" :class="{ control_filter_active: isFilters }" class="lm_control_filter">
        <i class="fa fa-filter"></i>
      </span>
      <div class="lm_control_main_filter">
        <span @click="clBtnFiltersMain('hot')" :class="{ lm_filter_hot_active: isFiltersRaiting }" class="lm_filter_hot">
          <i class="fab fa-hotjar"></i>
        </span>
        <span @click="clBtnFiltersMain('price')" :class="{ lm_filter_price_active: isFiltersPrice }" class="lm_filter_price">
          <i class="fas fa-dollar-sign"></i>
        </span>
        <span @click="clBtnFiltersMain('sale')" :class="{ lm_filter_sale_active: isFiltersSale }" class="lm_filter_sale">
          <i class="fas fa-percentage"></i>
        </span>
      </div>
    </div>

    <div class="lm_profile">
      <i class="fa fa-star"></i>
      <i class="fa fa-comment"></i>
      <div class="lm_user">
        <img :src="image_profile" alt="lami">
      </div>
    </div>

    <div class="lm_logo">
      <span>NV</span>
    </div>
  </div>
</template>

<script>
import catalogselect from "./Catalogselect.vue";
import applocation from "./../location.js";
import service from "./../service.js";

export default {
  props: ['categorys'],
  data() {
    return {
      locationEdit: false,
      image_profile: "/nitavino/img/profile/1.jpg",
      options: {},
      location_adress: service.location_address,
      flagcat: true,
      value: "",
      isFilters: false,
      isFiltersRaiting: false,
      isFiltersPrice: false,
      isFiltersSale: false,
      set_location_by: null
    }
  },
  components: {
    catalogselect
  },
  created() {

    // проверяем передались ли категории
    // console.log('категории header.vue - v2.0');
    // console.log(this.categorys);

    // базовая сортировка (включение и отключение иконок)
    // слушаем метод clBtnFiltersMainChange

    service.$on("clBtnFiltersMainChange", (sortBy) => {
      if (sortBy == "all") {
        this.isFiltersRaiting = false;
        this.isFiltersPrice = false;
        this.isFiltersSale = false;

        service.sortByRaiting = this.isFiltersRaiting;
        service.sortByPrice = this.isFiltersPrice;
        service.sortBySale = this.isFiltersSale;
      }
    });

    service.$on("SetLocation", (event) => {
      // applocation.locationSearch(this.set_location_by);
      this.location_adress = service.location_address;
      this.set_location_by = service.location_address;
      this.locationEdit = false;
    });

  },
  methods: {
    // setCat() {
    //   if (this.flagcat == true) {
    //     service.setCategory();
    //     this.flagcat = false;
    //   }
    // },

    // onSelect(option, id) {
    // },

    // определяем местоположене пользователя
    // запускаем функцию locationOnClick из файла lacation.js
    set_location(){
      this.locationEdit = !this.locationEdit;
    },

    autoDetectLocation() {
      applocation.locationOnClick();
    },

    // устанавливаем активность фильтров

    clBtnFilter() {
      this.isFilters = !this.isFilters;
      service.clBtnFilter(false);
    },

    SetLocation(){
      applocation.locationSearch(this.set_location_by);
      this.locationEdit = !this.locationEdit;
    },

    // установка базовой сортировки
    // инициализация метода sortCatalogBy в service js

    clBtnFiltersMain(state){
      if(state == 'price') {
        this.isFiltersPrice = !this.isFiltersPrice;
        service.sortByPrice = this.isFiltersPrice;
      }
      if(state == 'hot') {
        this.isFiltersRaiting = !this.isFiltersRaiting;
        service.sortByRaiting = this.isFiltersRaiting;
      }
      if(state == 'sale') {
        this.isFiltersSale = !this.isFiltersSale;
        service.sortBySale = this.isFiltersSale;
      }

      // service.sortCatalogBy(state);
      service.viewCatalogFilters();
    }
  }
};
</script>
