<template>

	<div class="lm_add_comment">

		<span @click="clBtnHideAddComment" class="btn-hide-add-comment">-</span>

		<div class="lm_add_comment_form">

			<span class="lm_add_comment_text">
				Оставьте комментарий<br> к работе мастера
			</span>

			<transition name="slide-comment-error">

				<div class="lm_comments_error" v-if="errors.length">
					<transition-group name="list" tag="p">
						<span v-for="error in errors" :key="error" class="list-item">{{ error }}</span>
					</transition-group>
				</div>

			</transition>

			<form @submit="checkForm" method="post">
				<div class="form-group">
					<input :class="[{ errorfield: error.name }]" v-model="name"  type="text" name="name" placeholder="Ваше имя">
					<select :class="[{ errorfield: error.type }]" v-model="type"  name="type" id="type">
						<option selected disabled value="0">Тип комментария</option>
						<option value="positive">Положительный</option>
						<option value="neutral">Нейтральный</option>
						<option value="negative">Негативный</option>
					</select>
					<input :class="[{ errorfield: error.date }]" v-model="date"  type="date" name="date" placeholder="Дата посещения">
					<textarea :class="[{ errorfield: error.comment }]" v-model="comment"  name="comment" id="comment" cols="30" rows="10" placeholder="Ваш комментарий"></textarea>
					<button type="submit">отправить</button>
				</div>
			</form>

		</div>

	</div>

</template>

<script>
import service from "./../../service.js";

export default {
  data() {
    return {
		errors:[],
		error: {
			name: false,
			type: false,
			date: false,
			comment: false,
		},
		name: null,
		type: null,
		date: null,
		comment: null
    }
  },
  created() {
    // service.$on("viewItem", slcatalogitem => {
    //   this.catalogitm = slcatalogitem;
    // });
  },
  methods: {
    clBtnHideAddComment() {
      service.clBtnAddComment(false);
	},
	checkForm: function (e) {
      if (this.name && this.type && this.date && this.comment) {

		let insertComment = {
			created_at: this.date,
			date: this.date,
			id_comments: 97,
			masters_idmaster: 13,
			name: this.name,
			raiting: 56,
			text: this.comment,
			updated_at: null
		};

		service.comment_items.push(insertComment);

		this.name = null;
		this.type = null;
		this.date = null;
		this.comment = null;

		this.errors = [];
		this.error.name = false;
		this.error.type = false;
		this.error.date = false;
		this.error.comment = false;

		e.preventDefault();
        return true;
	  }


	  this.errors = [];
	  this.error.name = false;
	  this.error.type = false;
	  this.error.date = false;
	  this.error.comment = false;

      if (!this.name) {
		this.errors.push('Вы не указали свое имя');
		this.error.name = true;
      }
      if (this.type == 0 || !this.type) {
		this.errors.push('Вы не указали тип комментария');
		this.error.type = true;
	  }
	  if (!this.date) {
		this.errors.push('Вы не выбрали дату посещения');
		this.error.date = true;
	  }
	  if (!this.comment) {
        this.errors.push('Вы не добавили комментарий');
        this.error.comment = true;
      }

      e.preventDefault();
    }
  }
};
</script>

<style lang="scss" scoped>

  .btn-hide-add-comment {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    right: 0px;
    top: 0px;
    color: gray;
    border-radius: 0px 5px 0px 15px;

    &:hover {
      color: black;
      cursor: pointer;
      background: lightgray;
    }
  }

</style>
