<template>

  <div class="lm_sidebar">

    <div class="lm_comments">

      <span @click="clBtnHide" class="btn-hide-comments">-</span>
      <span @click="clBtnAddComment" class="btn-add-comment">+</span>


		<transition-group v-if="comments.length" class="lm_comment_wrap" name="list" tag="div">
			<div v-for="comment in comments" :key="comment.id_comments" class="lm_comment_item">
				<div class="lm_comment_item_s1">
					<span class="lm_comment_item_name">{{comment.name}}</span>
					<div class="lm_comment_item_date">{{comment.date}} в 17:29</div>
				</div>
				<div class="lm_comment_item_s2">
					<span class="lm_comment_comment">
					Комментарий:
					<span class="comment_unknown">{{comment.raiting}}</span>
					</span>
					<span class="lm_comment_comment">
					Дата посещения:
					<span class="comment_unknown">{{comment.date}}</span>
					</span>
				</div>
				<div class="lm_comment_item_s3">
					<p>{{comment.text}}</p>
				</div>
			</div>
		</transition-group>

	  <div v-else class="lm_none_comment">
		  <span class="lm_none_comment_text_1">Никто не оставил комментариев</span>
		  <span class="lm_none_comment_text_2">будьте первыми кто оставит комментарий</span>
		  <span @click="clBtnAddComment" class="lm_none_comment_add">написать комментарий</span>
	  </div>

    </div>

	<transition name="slide-comments-fade">
    	<app-addcomments v-show="isAddComment"></app-addcomments>
	</transition>

  </div>

</template>

<script>
import service from "./../../service.js";
import addcomments from "./AddComment";

export default {
  data() {
    return {
	  isAddComment: false,
	  comments: []
    };
  },
  components: {
    "app-addcomments": addcomments
  },
  created() {
    service.$on("viewItem", slcatalogitem => {
	  this.comments = service.comment_items;
	  console.log('comments template');
	  console.log(this.comments);
    });

    service.$on("clBtnAddComment", state => {
      this.isAddComment = !this.isAddComment;
    });
  },
  methods: {
    clBtnHide() {
      service.clBtnComments(false);
    },
    clBtnAddComment() {
      service.clBtnAddComment(true);
    }
    // setRaitings(raiting){
    //   let raitingStyle =  'hsla('+raiting+', 90%, 50%, 1)';
    //   return raitingStyle;
    // }
  }
};
</script>

<style lang="scss" scoped>
.btn-hide-comments {
  position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    left: 0;
    top: 0px;
    border-radius: 5px 0px 15px 0px;
    color: gray;

  &:hover {
    color: black;
    cursor: pointer;
    background: lightgray;
  }
}

.btn-add-comment {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  right: 0;
  top: 0;
  border-radius: 0px 5px 0px 15px;
  color: gray;

  &:hover {
    color: black;
    cursor: pointer;
    background: lightgray;
  }
}
</style>
