<template>
  <div class="checkbox">
    <input
      v-model="modelAttribute"
      type="checkbox"
      :name="checkboxItems.title"
      :id="checkboxItems.title"
    >
    <label :for="checkboxItems.title">{{checkboxItems.title}}</label>
  </div>
</template>
<script>
import service from "./../../service.js";

export default {
  props: ["checkboxItems", "modelAttribute"],
  data() {
    return {
      //category_filters: {}
    };
  },
  created() {
    //console.log(this.checkboxItems);
  }
};
</script>

<style lang="scss" scoped>
  .checkbox{
    font-size: 12px;
  }
</style>

