<template>

  <div class="select" :class="{ sel_cat_active: isActive }">

    <div class="select_main">

      <div class="select_text">
        <span class="select_text_title">{{ selectItems.title }}</span>
        <input
          ref="search"
          autofocus
          v-model="search"
          class="select_find"
          placeholder="Выберите опцию из списка"
        >
      </div>

      <div class="select_toggle" @click="toggleList">
        <span class="select_toggle_list">{{ toggleIcon }}</span>
      </div>

    </div>

    <div class="select_list">

      <ul>
        <selectitem
          v-for="(selectItem, i) in filteredList"
          :key="selectItem.id"
          :selectItem="selectItem"
          :index="(i+1)"
          v-on:setselecttitle="SetSelectTitile($event)"
        ></selectitem>
      </ul>

    </div>

  </div>

</template>

<script>
import service from "./../../service.js";
import selectitem from "./components/FilterList.vue";

export default {
    props: ['selectItems','filterId'],
  data() {
    return {
      search: "",
      toggleIcon: "+",
      isActive: false,
      category_text: "Выберите категорию"
    };
  },
  components: {
    selectitem
  },
  created() {
    // alert(this.filterId);
  },
  computed: {
    filteredList() {
      return this.selectItems.filter_item.filter(categoryitem => {
        return categoryitem.title
          .toLowerCase()
          .includes(this.search.toLowerCase());
      });
    }
  },
  methods: {
    toggleList() {
      this.isActive = !this.isActive;
      this.search = "";
      if (this.isActive) this.toggleIcon = "-";
      else this.toggleIcon = "+";
    },
    SetSelectTitile(filteroptions) {
      this.isActive = !this.isActive;
      this.search = "";
      this.selectItems.title = filteroptions.title;
      if (this.isActive) this.toggleIcon = "-";
      else this.toggleIcon = "+";

      this.$emit('setselectfilter',{'filterId':this.filterId, 'filterItemId':filteroptions.id_filters});
    }
  }
};
</script>

<style lang="scss" scoped>

  .sel_cat_active {
    .select_main {
      .select_text {
        .select_text_title {
          display: none;
        }

        .select_find {
          display: block;
        }
      }

      .select_toggle {
        width: 25px;
        position: relative;
      }
    }

    .select_list {
      display: block;
    }
  }

  .select {
    position: relative;
    &_main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      position: relative;

      &:hover {
        .select_toggle_list {
          box-shadow: 0px 0px 0px 1px #dadada;
          background-color: #d0d0d0;
          color: white;
        }
      }

      .select_text {
        font-size: 12px;
        width: 100%;

        &_title {
          // display: none;
          letter-spacing: 1px;
        }

        .select_find {
          display: none;
          outline: none;
          border: none;
          width: 95%;
          padding: 5px 0;
          letter-spacing: 1px;
          font-family: 'SegoeUI';
        }
      }

      .select_toggle {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        transition: 0.3s;
        // margin-right: 5px;
        width: 100%;
        justify-content: flex-end;
        position: absolute;

        &:hover {
          cursor: pointer;
        }

        &_list {
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 25px;
          width: 25px;
          border-radius: 2px;

          &:hover {
            box-shadow: 0px 0px 0px 1px #dadada;
            background-color: #d0d0d0;
            color: white;
            cursor: pointer;
          }
        }
      }
    }

    &_list {
      display: none;
      background-color: white;
      margin-top: 10px;
      border-radius: 5px;
      padding: 5px 5px 5px 5px;
      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
      position: absolute;
      width: 100%;
      font-size: 12px;

      &:hover {
        .select {
          .select_toggle_list {
            box-shadow: 0px 0px 0px 1px #dadada;
            background-color: #d0d0d0;
            color: white;
          }
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 300px;
        overflow: hidden;
        overflow-y: scroll;

        li {
          padding: 10px;
          margin: 2px 0;
          border-radius: 2px;
          transition: background 0.4s;

          &:hover {
            background: #d0d0d0;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
</style>
