<template>

   <li @click="viewItemClicked">
     {{ selectItem.title }}
   </li>

</template>

<script>
import service from "./../../../service.js";

export default {
  props: ["selectItem", "index"],
  data() {
    return {
      //
    }
  },
  methods: {

    // FIXME: возможно что id_filters выводится неправильно
    // например id_filters=17 в обьекте, а в консоли выводится 18
    // на 1 больше id_filters = id_filters+1

    viewItemClicked() {
      this.$emit('setselecttitle',this.selectItem);
    }

  }
};
</script>