<template>
  <li @click="viewItemClicked">{{ selectitem.title }}</li>
</template>

<script>
import service from "./../../service.js";
import axios from "axios";

export default {
  props: ["selectitem", "index"],
  data() {
    return {
      //code
    };
  },
  methods: {
    // ловим нажатие категорий
    // передаем нажатие в функцию viewSelectItem в service js
    viewItemClicked() {

      axios
        .get("/category/getFilters", {
          params: {
            id: this.selectitem.id_categories
          }
        })
        .then(response => {
          service.$emit("viewFilters", response.data[0].filters);
        })
        .catch(error => {
          console.log(error);
        });

                    axios
                .get("/catalog/users", {
                    params: {
                        id_category: this.selectitem.id_categories
                    }
                })
                .then(response => {
                    console.log('--------------\nначало каталога\n--------------');
                    console.log(response.data);
                    service.catalog_items = response.data;
                    service.$emit("viewCatalogCategory", response.data);
                    console.log('--------------\nконец каталога \n--------------');
                })
                .catch(error => {
                    console.log(error);
                });

                $(window).resize();

        service.selected_CatalogId = this.selectitem.id_categories;

      service.viewSelectItem(this.selectitem.id_categories);
      service.sortCatalogBy("all");
    }
  }
};
</script>

<style scoped>
</style>
