<template>

    <div class="lm_catalog_item" @click="viewItemClicked">

      <div class="lm_catalog_item_img">
        <img :src="catalog.personal_img" alt>
      </div>

      <div class="lm_catalog_item_info">
        <span class="lm_catalog_item_title">{{ catalog.users.name }} {{ catalog.users.surname }}</span>
        <span class="lm_catalog_item_price"><i class="fas fa-ruble-sign"></i>{{catalog.raiting}}</span>
        <span class="lm_catalog_item_raiting" :style="{ 'border-color': setRaitings(catalog.raiting) }"></span>
      </div>

    </div>

</template>

<script>
import service from "./../../service.js";

export default {
  props: ["catalog", "index"],
  data() {
    return {
      //code
    };
  },
  methods: {
    viewItemClicked() {
      service.viewItem(this.catalog.id_master);
    },

    setRaitings(raiting){
      let raitingStyle =  'hsla('+raiting+', 90%, 50%, 1)';
      return raitingStyle;
    }
  }
};
</script>

<style scoped>
  /* .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } */
</style>
