<template>

  <div class="lm_catalog_items">


      <catalogitem
        v-for="(catalog, i) in catalogs"
        :key="catalog.id_master"
        :catalog="catalog"
        :index="(i+1)"
      ></catalogitem>


  </div>
</template>

<script>
import catalogitem from "./CatalogItem";
import service from "./../../service.js";
import _ from "lodash";

export default {
  data() {
    return {
      catalogs: [],
      catalogs_save: {},
      //sortByPrice: false
    };
  },
  components: {
    catalogitem
  },
  created() {

    service.$on("viewCatalogCategory", setcatalog => {

      console.log('== start == каталог проверка данных');
      this.catalogs = setcatalog;
      console.log(this.catalogs);
      this.catalogs_save = setcatalog;
      console.log('== end == каталог проверка данных');

    });

    // service.$on("sortCatalogBy", (sortBy, sortState) => {

      // if (sortBy == "price" && sortState == false) {

      //   var sortActivities = function (attr, arr) {
      //       return _.sortBy(arr, function(elem){
      //           return elem[attr];
      //       });
      //   };

      //   this.catalogs = sortActivities("price", this.catalogs);

      //   //let sortByPriceCatalog = _.sortBy(this.catalogs, ["price"]);
      //   //let sortByPriceCatalog = _.orderBy(this.catalogs, ['price'], ['asc']);
      //   //console.log(sortByPriceCatalog);
      //   //this.catalogs = sortByPriceCatalog;

      // }

      // if (sortBy == "price" && sortState == true) {
      //   this.catalogs = this.catalogs_save;
      // }

      // if (sortBy == "hot" && sortState == false) {

      //   var sortActivities = function (attr, arr) {
      //       return _.sortBy(arr, function(elem){
      //           return elem[attr];
      //       });
      //   };

      //   let sortByPriceCatalog = _.orderBy(this.catalogs, ['raiting'], ['desc']);

      //   this.catalogs = sortByPriceCatalog;

      // }

      // if (sortBy == "hot" && sortState == true) {
      //   this.catalogs = this.catalogs_save;
      // }

      // if (sortBy == "all" && sortState == true) {
      //   this.catalogs = this.catalogs_save;
      // }

    //   $(window).resize();
    // });
  },
  methods: {}
};
</script>


<style scoped>
  /* .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    padding: 0 20px;
  }

  @media (max-width: 450px) {
    .swiper-wrapper {
      padding: 0px;
    }
  } */
</style>
