section.catalogfilter{
    grid-row: 3 !important;
}

section.catalog {
    grid-area: catalog;
    grid-row: 2/4;
    z-index: 3;
    overflow-y: scroll;
	padding: 10px 0;

	@include b(979){
		grid-row: 2/5;
	}

    .lm_catalog_items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill,minmax(80px,80px));
        grid-gap: 10px;
        overflow: hidden;
        padding: 0 10px;
        overflow-y: scroll;
        height: 100%;

        .lm_catalog_item {
            display: grid;
            grid-template-columns: 90px 1fr;
            background: white;
            border-radius: 5px;
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: #f5f5f5;
                // .lm_catalog_item_img {
                //     height: 120px;
                //     z-index: 3;
                //     margin-left: -20px;
                //     margin-right: -10px;
                // }
            }

            &_img {
                border-radius: 5px;
                box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
                z-index: 2;
                transition: 0.7s;
                width: 70px;
                height: 70px;
                margin: 5px 10px;
            }

            &_info {
                display: flex;
                padding: 5px 10px 5px 5px;
                justify-content: space-evenly;
                position: relative;
                flex-direction: column;

                .lm_catalog_item_title {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.1;
                }

                .lm_catalog_item_price {
                    font-size: 14px;
                    font-weight: 600;
                    color: gray;

                    i {
                        margin-right: 5px;
                        font-size: 12px;
                    }
                }

                .lm_catalog_item_raiting {
                    display: flex;
                    border: 2px solid #70E54E;
                    width: 0px;
                    height: 95%;
                    border-radius: 5px;
                    position: absolute;
                    right: 0px;
                }

                // .lm_catalog_item_master {

                //     display: none;
                //     justify-content: center;
                //     align-items: center;
                //     font-size: 12px;

                //     @include b(979) {
                //         grid-area: master;
                //         justify-content: end;
                //     }

                //     @include b(450) {
                //         font-size: 7px;
                //     }

                //     &_img {
                //         margin-right: 5px;
                //         height: 30px;
                //         width: 30px;
                //         border-radius: 15px;
                //         display: flex;
                //         justify-content: center;
                //         align-items: center;
                //         overflow: hidden;
                //         box-shadow: 1px 2px 6px -1px #00000054;

                //         @include b(979) {
                //             height: 20px;
                //             width: 20px;
                //         }

                //         img {
                //             //height: 100%;
                //             //width: 100%;
                //         }
                //     }
                // }
            }
        }
    }
}
