section.contentfilter{
    grid-row: 3 !important;
}

.errorfield {
    border: 1px solid #F44336 !important;
}

section.content {
    grid-area: content;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: minmax(800px, 1000px) minmax(280px, 1fr);
    padding: 10px;
    grid-gap: 20px;
	position: relative;

	@include b(1800){
		grid-template-columns: minmax(800px, 1000px) 280px;
	}

	@include b(1400){
		grid-template-columns: 1fr 280px;
	}

	@include b(979){
		grid-row: 2/5;
	}

    .lm_content {
        z-index: 1;
        background: white;
        box-shadow: 1px 3px 6px -1px #0000002b;
        border-radius: 5px;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 20px;
		position: relative;

		@include b(1400) {
			grid-column: 1/3;
			grid-row: 1;
		}

		@include b(1000){
			grid-template-columns: 1fr;
			overflow-y: scroll;
		}

        &_left{
            display: flex;
            flex-direction: column;
            &_top{
                display: flex;
                flex-direction: column;
				margin: 20px 10px 30px 10px;

				@include b(1000){
					margin: 20px 20px 30px 20px;
				}

                .lm_master_block_icons{
                    display: flex;
                    padding: 5px 10px;
                    margin: 10px 0;
                    justify-content: space-between;
                    background-color: whitesmoke;
                    border-radius: 5px;
                    cursor: default;

					&_info,
					&_use,
					&_status {
                        color: gray;
						i,
						span{
                            &:hover{
                                color: black;
                                cursor: pointer;
                            }
                        }
                    }

                    &_status{
                        font-size: 12px;
                    }

                }

                .lm_master_block{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &_body{
                        position: relative;
                        justify-content: space-between;
                        align-items: center;
                        display: flex;
                        width: 100%;

                        .lm_master_block_raiting{
                            border-color: rgb(238, 242, 13);
                            width: 100%;
                            position: absolute;
                            border: 1.5px solid rgb(238, 242, 13);
                            bottom: -12px;
                        }

                        .lm_master_block_master{
                            display: flex;


                            img{
                                border-radius: 5px;
                                margin-right: 10px;
                            }

                            &_info{
                                display: flex;
                                flex-direction: column;
                                line-height: 1.1;
                                justify-content: center;

                                .lm_master_block_name{
                                    font-size: 17px;
                                    font-weight: 600;
                                    color: black;
                                }

                                .lm_master_block_since{
                                    font-size: 12px;
                                    color: gray;
                                    font-weight: 400;
                                }
                            }
                        }

                        .lm_content_price_value{
                            font-size: 16px;
                            font-weight: 600;
                            background-color: #efefef;
                            padding: 5px 10px;
                            border-radius: 5px;
                            height: 100%;

                            i{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .lm_content_slider{
                display: grid;
                grid-template-columns: max-content 1fr;
                grid-template-rows: 475px 1fr;
                margin: 0px;
                border-radius: 5px;
				overflow: hidden;

				@include b(1000){
					margin: 0 20px;
					grid-template-columns: max-content 100px;
				}

                &_main{
                    overflow: hidden;
                }

                &_thumbs{
                    overflow: hidden;
                    flex-direction: column;
					overflow-y: scroll;

					display: grid;
					grid-template-rows: repeat(auto-fill, minmax(100px, 100px));

                    // &_item{

                    // }
                }
            }

            .lm_content_instagram{
                padding: 0 20px;
                grid-row: 2;
				overflow: hidden;
                padding-bottom: 10px;
                display: none;
                &_title{
                    margin: 20px 0;
                }
            }
        }

        &_right{
			padding: 20px 20px 0 0;

			@include b(1000){
				padding: 20px;
			}

            .lm_content_info_block{
                .lm_content_header{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    background-color: #E91E63;
                    border-radius: 5px;
                    color: white;
                    margin: 5px 0;
                    box-shadow: 0 3px 4px -1px hsla(0, 0%, 30%, 0.2);
                }
                .lm_content_body{
                    padding: 10px 0;
                    .lm_content_prop{
                        border-left: 1px solid gray;
                        padding-left: 10px;
                        margin-bottom: 10px;
                        font-size: 13px;

                        &_title{
                            font-weight: 600;
                            margin-bottom: 2px;
                            display: block;
                        }
                    }

                    .lm_content_props{
                        display: grid;
                        grid-template-columns: repeat(auto-fill,minmax(150px,max-content));
                        grid-gap: 10px;
                    }
                }
            }
        }
    }

    .lm_sidebar{
        z-index: 2;
        position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		overflow: hidden;

        @include b(1800){
            grid-template-columns: 1fr;
            grid-gap: 0;
		}

		@include b(1400){
			grid-column: 2;
			grid-row: 1;
			box-shadow: -3px 0px 6px -1px #0000005c;
			border-radius: 5px;
		}

        .lm_comments{
			overflow-y: scroll;
            background-color: white;
            padding: 30px 20px 20px 20px;
            border-radius: 5px;
            -webkit-box-shadow: 1px 3px 6px -1px #0000005c;
            box-shadow: 1px 3px 6px -1px #0000005c;
			position: relative;

			.lm_none_comment{
				text-align: center;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				line-height: 1;
				align-items: center;

				&_text_1{
					color: black;
					font-weight: 700;
					margin-bottom: 10px;
					font-size: 14px;
				}

				&_text_2 {
					color: gray;
					font-size: 12px;
				}

				&_add{
					margin-top: 15px;
					font-size: 12px;
					color: gray;
					border: 1px dashed #85b6ff;
					padding: 10px 20px;
					border-radius: 5px;
					transition: 0.3s;

					&:hover{
						background-color: #85b6ff;
						color: white;
						cursor: pointer;
						box-shadow: 0px 4px 6px hsla(0, 0%, 30%, 0.2);
					}
				}
			}

			.lm_comment_wrap{
				display: grid;
				grid-template-columns: 1fr;
				//grid-template-rows: repeat(auto-fill,minmax(100px,max-content));
				grid-template-rows: max-content;
				grid-gap: 20px;
				overflow-y: scroll;
				overflow-x: hidden;
				//height: 100%;

				.lm_comment_item{
					display: flex;
					flex-direction: column;

					&_s1{
						display: grid;
						grid-template-columns: 1fr 90px;
						align-items: center;
						.lm_comment_item_name{
							display: flex;
							justify-content: space-between;
							font-weight: 600;
							align-items: center;
							font-size: 16px;
							&:after{
								content: '';
								border-bottom: 1px dotted #000;
								width: 100%;
								margin-left: 10px;
							}
						}
						.lm_comment_item_date{
							font-size: 10px;
							text-align: right;
							color: gray;
						}
					}
					&_s2{
						display: flex;
						flex-direction: column;
						font-size: 10px;
						margin: 5px 0;
						.lm_comment_comment{
							font-weight: 600;
							span{
								font-weight: normal;
							}
							.comment_unknown{
								color: gray;
							}
							.comment_green{
								color: green;
							}
							.comment_red{
								color: red;
							}
						}
					}
					&_s3{
						p{
							margin: 0;
							font-size: 12px;
						}
					}
				}
			}
		}
		.lm_add_comment{
			background-color: white;
			//padding: 30px 20px 20px 20px;
			border-radius: 5px;
			box-shadow: 1px 3px 6px -1px #0000005c;
			position: relative;

			@include b(1800){
				position: absolute;
				margin: 0;
				width: 100%;
				height: 100%;
			}

			&_form{
				padding: 30px 20px 20px 20px;
				.lm_comments_error{
					margin-bottom: 30px;
					display: flex;
					flex-direction: column;
					color: #000000;
					font-size: 12px;
					padding: 10px;
					border-radius: 5px;
					border: 1px dashed #E91E63;
					p{
						margin: 0;
					}
				}

				.lm_add_comment_text{
					display: block;
					text-align: center;
					margin: 30px 0;
				}

				form{
					.form-group{
						display: grid;
						grid-gap: 20px;

						input,
						textarea,
						select,
						button{
							border: none;
							box-shadow: 0px 4px 6px hsla(0, 0%, 30%, 0.2);
							padding: 15px;
							outline: none;
							border-radius: 5px;
							color: gray;
							font-family: "SegoeUI";
							font-size: 12px;
						}

						button{
							background-color: #03A9F4;
							color: white;
							font-size: 14px;
							transition: 0.3s;

							&:hover{
								box-shadow: 2px 4px 6px hsla(207, 90%, 54%, 0.29);
								background-color: #2196F3;
								cursor: pointer;
							}
						}

					}

				}
			}
		}
    }
}
