.filters {
   grid-row: 2;
   z-index: 4;
   grid-area: filters;
   display: grid;
   background-color: white;
   padding: $header-padding;
   box-shadow: $header-box-shadow;

   @include b(979){
		grid-row: 2 / auto;
		background-color: transparent;
		box-shadow: none;
		padding: 0px 10px;
   }

   .filters-wrap {
      display: grid;
      grid-template-columns: 1fr minmax(200px,600px);
	  align-items: center;

	  @include b(979){
		background-color: white;
		box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		padding: 10px 15px;
	  }

      .main-filters{
         display: grid;
         grid-template-columns: repeat(auto-fill,minmax(100px,150px));
         grid-gap: 20px;
      }

      .more-filters{
         display: grid;
         grid-template-columns: repeat(2,max-content);
         grid-gap: 0 30px;
      }
   }
}