header {
    grid-row: 1;
    z-index: 5;
    grid-area: header;
    background-color: white;
    padding: $header-padding;
    box-shadow: $box-shadow-base;

    @include b(979) {
        padding: 0;
        background-color: transparent !important;
        box-shadow: none;
    }

    .header-wrap {
        display: grid;
        align-items: center;
        width: $header-width;
        grid-template-columns: minmax(300px, 350px) 1fr 100px;
        grid-template-rows: 40px;
        cursor: context-menu;
        height: 100%;

        @include b(979) {
			grid-template-columns: 50px 1fr 50px;
			grid-template-rows: 30px 40px;
			grid-template-areas: "logo loc profile""control control control ";
            align-items: end;
            justify-content: center;
        }

        .lm {

            &_loc {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-right: 10px;

                @include b(979) {
                    grid-area: loc;
                    background: white;
                    height: 100%;
                    justify-content: center;
					box-shadow: 0px 3px 6px -1px #00000038;
					padding-right: 0;
                }

                &_icon {
                    color: #84B5FF;
                    font-size: 12px;
                    margin: $header-loc-icon-margin;

                    &_active {
                        color: $header-loc-color-active;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #2d81ff;
                    }
                }

                &_address {
                    font-size: 12px;
                    color: #282828;

                    @include b(450) {
                        font-size: 12px;
                    }

                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }

                &_inputAdress{
                    width: 100%;
                    font-family: "SegoeUI";
                    font-size: 12px;
                    outline: none;
                    border: none;
                    border-bottom: 1px dotted #84b5ff;
                    padding: 0 0 2px 0;
                    color: gray;
                }

            }

            &_control {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: $header-control-category-width $header-control-filter-width $header-control-main-filter-width;
                grid-template-rows: 30px;

                @include b(979) {
                    grid-area: control;
                    grid-template-columns: minmax(80px, 150px) minmax(150px, 300px) minmax(80px, 150px);
                    grid-template-areas: 'filter category control';
					padding: 0 10px;
                    justify-content: space-between;
				}

				.select_category{
					@include b(979) {
						background-color: white;
						padding: 0px 5px 0 15px;
						border-radius: 5px;
						box-shadow: 0 4px 6px hsla(0, 0%, 30%, 0.3);
					}
				}

                &_category {
                    padding: 10px 0;
                    border: 1px solid gray;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;

                    @include b(979) {
                        grid-area: category;
                        background: white;
                        border: none;
                        box-shadow: 0px 3px 6px -1px #00000038;
                        border-radius: 5px;
                        padding: 6px;
                        font-size: 16px;
                        justify-content: center;

                        &:hover {
                            background-color: black;
                            color: white;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: black;
                        color: white;
                        border-color: black;
                    }
                }

                .control_filter_active {
                    box-shadow: 0px 0px 0px 1px #dadada;
                    background-color: #d0d0d0;
                    color: white;
                }

                &_filter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 15px;
                    border: none;
                    border-radius: 2px;
                    font-size: 18px;
                    color: #808080;
                    transition: 0.2s;

                    @include b(979) {
                        grid-area: control;
                        box-shadow: 0px 3px 6px -1px #00000038;
                        border-radius: 5px;
                        justify-content: center;
                        border: none;
                        background: white;
                    }

                    &:hover {
                        box-shadow: 0px 0px 0px 1px #dadada;
                        background-color: #d0d0d0;
                        color: white;
                        cursor: pointer;
                    }

                    i {
                        transition: 0s;
                    }

                }

                &_main_filter {
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(3, max-content);
                    grid-gap: 10px;
                    color: gray;
                    font-size: 16px;

                    @include b(979) {
                        grid-area: filter;
                        display: flex;
                        background: white;
                        box-shadow: 0px 3px 6px -1px #00000038;
                        border-radius: 5px;
                        justify-content: center;
                    }

                    [class*='lm_filter_'] {
                        border-radius: 2px;
                        padding: 5px 10px;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            box-shadow: 0px 0px 0px 1px #dadada;
                            background-color: #d0d0d0;
                            color: white;
                            cursor: pointer;
                        }

                        @include b(979) {
                            border: none;
                        }

                        i {
                            transition: 0s;
                        }

                    }

                    .lm_filter {

                        &_hot {
                            &_active{
                                color: white;
                                 box-shadow: 0px 0px 0px 1px #FFC107;
                                 background-color: #FF9800;
                            }
                            &:hover {
                                box-shadow: 0px 0px 0px 1px #FFC107;
                                background-color: #FF9800;
                            }
                        }

                        &_price {
                            &_active {
                                color: white;
                               box-shadow: 0px 0px 0px 1px #CDDC39;
                               background-color: #8BC34A;
                            }
                            &:hover {
                                box-shadow: 0px 0px 0px 1px #CDDC39;
                                background-color: #8BC34A;
                            }
                        }

                        &_sale {
                            &_active {
                                color: white;
                                box-shadow: 0px 0px 0px 1px #00BCD4;
                                background-color: #03A9F4;
                            }
                            &:hover {
                                box-shadow: 0px 0px 0px 1px #00BCD4;
                                background-color: #03A9F4;
                            }
                        }
                    }
                }
            }

            &_profile {
                display: grid;
                align-items: center;
                grid-template-columns: 15px 15px 35px;
                grid-gap: 15px;
                justify-content: end;

                @include b(979) {
                    grid-area: profile;
                    background: white;
					box-shadow: 5px 3px 6px -1px #00000038;
					grid-template-columns: 1fr;
					justify-content: center;
					align-items: center;
					display: flex;
                }

                i {
                    color: #808080;

                    &:hover {
                        text-shadow: 1px 3px 2px #0000004f;
                        color: black;
                        cursor: pointer;
                    }
                }

                .lm_user {
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
                        width: 35px;
                        height: 35px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }

                .fa {
                    @include b(979) {
                        display: none;
                    }
                }
            }

            &_logo {
                display: none;

                @include b(979) {
                    grid-area: logo;
                    display: block;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: white;
                    box-shadow: -5px 3px 6px -1px #00000038;
                }
            }
        }
    }
}


.multiselect__select {
    z-index: 1;
}

.multiselect__tags {
    overflow: hidden;
    position: relative;
    border: none !important;

    input {
        font-size: 14px;
        position: absolute !important;
        left: 40px;
    }
}
